@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: hsl(var(--background));
}

@layer base {
	:root {
		--font-sans: Nunito Sans, Nunito Sans Fallback;
		/* --font-mono: here if you got it... */

		/* prefixed with foreground because it should look good on the background */
		--foreground-destructive: 0 100% 40%;

		--background: 60 100% 99%;
		--foreground: 220 50% 10%;

		--muted: 120 30% 95%;
		--muted-foreground: 220 20% 30%;

		--popover: 60 100% 99%;
		--popover-foreground: 220 50% 10%;

		--card: 60 100% 99%;
		--card-foreground: 220 50% 10%;

		--border: 120 30% 85%;
		--input: 120 30% 85%;
		--input-invalid: 0 100% 65%;

		--primary: 120 60% 45%;
		--primary-foreground: 60 100% 99%;

		--secondary: 45 100% 75%;
		--secondary-foreground: 220 50% 10%;

		--accent: 121 22% 48%;
		--accent-foreground: 60 100% 99%;

		--destructive: 0 100% 50%;
		--destructive-foreground: 60 100% 99%;

		--ring: 120 30% 65%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 220 50% 10%;
		--foreground: 60 100% 99%;

		--foreground-destructive: 0 100% 70%;

		--muted: 220 30% 20%;
		--muted-foreground: 40 70% 80%;

		--popover: 220 50% 10%;
		--popover-foreground: 60 100% 99%;

		--card: 220 50% 10%;
		--card-foreground: 60 100% 99%;

		--border: 120 30% 25%;
		--input: 120 30% 25%;
		--input-invalid: 0 70% 35%;

		--primary: 120 70% 40%;
		--primary-foreground: 60 100% 99%;

		--secondary: 45 100% 50%;
		--secondary-foreground: 220 50% 10%;

		--accent: 121 22% 48%;
		--accent-foreground: 60 100% 99%;

		--destructive: 0 80% 45%;
		--destructive-foreground: 60 100% 99%;

		--ring: 120 30% 50%;
	}
}
