@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: Nunito Sans, Nunito Sans Fallback;
    /* --font-mono: here if you got it... */

    /* prefixed with foreground because it should look good on the background */
    --foreground-destructive: 345 82.7% 40.8%;

    --background: 42, 74%, 95%;
    --foreground: 222.2 84% 4.9%;

    --action: 23, 98%, 46%;

    --muted: 48, 51%, 90%;
    --muted-foreground: 215.4 16.3% 30%;

    --popover: 42, 74%, 95%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 42, 74%, 95%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --input-invalid: 0 84.2% 60.2%;

    --primary: 52, 71%, 4%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 20% 83%;
    --secondary-foreground: #121003;

    --accent: 210 40% 90%;
    --accent-foreground: 52, 71%, 4%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}
